# Node
node_modules/

# Cypress
*/cypress/videos
*/cypress/screenshots
cypress/videos
cypress/screenshots
cypress/results
cypress/logs

# Mocah
mochawesome-report/
mochawesome.json

# applocation 
todomvc/data.json

# etc
dist
.nyc_output
coverage
npm-debug.log
posted.json
.vscode/

